<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app='myApp'>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>我的简历</title>
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
<script src="angular-1.5.0-rc.1/angular.js"></script>
<script src="jquery/jquery-3.2.1.min.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<style>
  body{
	 
	  }
  #box{
	  width:800px;
	  height:100%;
	  background:url(img/bg.png) no-repeat;
	  background-size:150%;
	  margin:0 auto;
	  }
	 h1{
		color:rgb(79,98,40)
		} 
		 
 #t1{
	 width:577px;
	 height:100%;
	 able-layout:fixed;
	
	 border:2px solid rgb(79,98,40);
	 margin-bottom:10px;
	 } 
	 td{
		word-wrap:break-word;
		word-break:break-all;
		 }
  .bt{
	  width:95px;
	  height:25px;
	  background-color:rgb(234,241,221);
	  color:rgb(79,98,40)}
  .text{
	  width:135px;
	  height:22px;
	
	  }
   #tp{
	   width:115px;
	   height:155px;
	   }
	#div1{
		 width:577px;
		 height:100%;
		 margin-left:113px;
		position:relative;}
	h3{
		position:relative;
		left:0;}
	hr{
		border-top:2px dotted rgb(79,98,40);}
	.bq{
		color: rgb(79,98,40);
		font-weight:bold;
		font-size:20px
		}
   .wz{
	   display:inline-block;
	   margin-top:10px;
	  margin-bottom:10px; 
	  
	   }
	p {text-indent: 2em;
	}
 	
	 
</style>
</head>

<body ng-controller='myController' ng-cloak>
<div class="modal fade" id="xmjl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" 
						aria-hidden="true">×
				</button>
				<h4 class="modal-title" id="myModalLabel">
					新增
				</h4>
			</div>
			<div class="modal-body">
				<div class="input-group">
			    <span class="input-group-addon">项目时间</span>
			    <input type="text" class="form-control" placeholder="项目时间" ng-model='time'>
		        </div>
                <div class="input-group">
			    <span class="input-group-addon">项目名称</span>
			    <input type="text" class="form-control" placeholder="项目名称" ng-model='name'>
		        </div>
                <div class="input-group">
			    <span class="input-group-addon ">详细介绍</span>
			    <textarea class="form-control" rows="4" ng-model='intr'></textarea>
		        </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" 
						data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click='addjl()'>
					提交更改
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="jnpx" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" 
						aria-hidden="true">×
				</button>
				<h4 class="modal-title" id="myModalLabel">
					新增
				</h4>
			</div>
			<div class="modal-body">
		        <div class="input-group">
			    <span class="input-group-addon">技能名称</span>
			    <input type="text" class="form-control" placeholder="技能名称" ng-model='skil'>
		        </div>
                <div class="modal-footer">
				<button type="button" class="btn btn-default" 
						data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click='addjn()'>
					提交更改
				</button>
			</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div  id="box">
<div id="div1">
<h1 align="center">个人简历</h1>
<span class='bq'>基本信息</span>
<hr />
<table id="t1" border="1">
	<tbody>
		<tr>
			<td class="bt">姓  名</td>
			<td class="text">{{person.name}}</td>
			<td class="bt">性别</td>
            <td class="text">{{person.sex}}</td>
            <td id="tp" rowspan="6"><img src="img/me.png" /></td>
		</tr>
		<tr>
			<td class="bt">出生日期</td>
			<td class="text">{{person.bir}}</td>
			<td class="bt">户口</td>
            <td class="text">{{person.hk}}</td>
		</tr>
		<tr>
			<td class="bt">现居地</td>
			<td class="text">{{person.loc}}</td>
			<td class="bt">籍贯</td>
            <td class="text">{{person.jg}}</td>
		</tr>
        <tr>
			<td class="bt">电话</td>
			<td class="text">{{person.tel}}</td>
			<td class="bt">学历</td>
            <td class="text">{{person.stu}}</td>
		</tr>
        <tr>
			<td class="bt">毕业院校</td>
			<td class="text">{{person.col}}</td>
			<td class="bt">专业</td>
            <td class="text">{{person.maj}}</td>
		</tr>
       	<tr>
			<td class="bt">电子邮件</td>
			<td class="text"><a href="#">{{person.ema}}</a></td>
			<td class="bt">个人主页</td>
            <td class="text"><a href="{{person.pag}}">{{person.pag}}</a></td>
		</tr>
	</tbody>
</table>
<span class='bq'>求职目标</span>
<hr />
<span class="wz">web前端工程师</span><br/>
<span class='bq'>教育背景</span>
<hr />
<span class="wz">2014.09-2018.07 重庆邮电大学 软件工程学院 软件工程专业 本科</span><br/>
<span class='bq'>项目经历</span>
<hr />
<button type="button" class="btn btn-primary btn-lg btn-block" data-target="#xmjl" data-toggle="modal">新增</button>

</table>
    <table class="table table-striped table table-bordered t2" ng-repeat='x in person.xm'>
      <thead>
    <tr>
      <th style="width:90px">{{x.time}}</th>
      <th colspan="2">{{x.name}}<button type="button" class="close" ng-click='del($index)'>×
				</button></th>
    </tr>
  </thead>
  <tbody>
   <tr>
      <td style="width:90px"></td>
      <td colspan="2">{{x.intr}}</td>
    </tr>
  </tbody>
</table>
<span class='bq'>技能培训</span>
<hr /><br/>
<button type="button" class="btn btn-primary btn-lg btn-block" data-target="#jnpx" data-toggle="modal">新增</button>
<div id="pdiv">
<p>1、熟练使用 编程工具（myeclipe dreamweaver photoshop mysql</p>
<p>2、精通前端HTML CSS JAVASCRIPT等技术，了解HTML5 CSS3</p>
<p>3、精通使用jquery, ajax,面向对象编程（oop）等技术，了解前端工程化,组件开发等</p>
<p>4、熟练使用angularjs 熟悉Bootstrap,jquery EasyUI</p>
<p>5、掌握后端java语言，掌握使用SSM后端框架</p>
<p>6、精通Mysql精通使用SQL语言</p>
<p>7、能独立完成项目前后台沟通 </p>
</div>
</div>
</div>
</body>
<script>
   var num=7;
   var myApp=angular.module('myApp',[]);
   myApp.controller('myController',['$scope','$compile',function($scope,$compile){
	     $scope.index=2;
	     $scope.person={
			   name:"徐钦扬",
			   sex:'男',
			   bir:'1996.7.31',
			   hk:'泸州',
			   loc:'成都',
			   jg:'四川',
			   tel:'13882710062',
			   stu:'本科',
			   col:'重庆邮电大学',	 
			   maj:'软件工程',
			   ema:'604888149@qq.com',
			   pag:'https://github.com/xqy1996',
			   xm:[{
			
			 time:'2016.7',
			 name:'物流管理系统',
			 intr:'使用html+css+js进行前端静态网页的开发,使用了MVC思想，第一次使用html+css+js进行项目的开发。'
			 },{
			 
			 time:'2017.7',
			 name:'购物网站',
			 intr:'对某购物网站进行开发，负责管理员模块的前端界面的开发，前端使用基于JQuery的easyui框架，与管理员模块后端Dao+Service+Controller层的开发，后端使用了Sping+SpingMVC+Mybaits框架。'
			 },{
			
			 time:'2017.8',
			 name:'球队管理网站',
			 intr:'负责前台页面的搭建与后台的登陆，前端界面使用Bootstrap与使用jquery的AJAX实现单一界面的应用程序，后端使用Sping+SpingMVC+Mybaits框架制作，数据展示，数据沟通的模块，在小组负责前端技术指导。'
			 }],
			 }
		 
		 $scope.skil='';
		$scope.addjl=function(){
			var obj={
				
				time:$scope.time,
				name:$scope.name,
				intr:$scope.intr
				}
		  $scope.person.xm.push(obj)
			/*$('#t2').append('<thead><tr><th>'+$scope.xm.time+'</th>'+
                      '<th colspan="2">'+$scope.xm.name+'</th></tr></thead>'+
                        '<tbody><tr><td></td><td colspan="2">'+$scope.xm.intr+'</td></tr></tbody>')*/
			} 
       $scope.addjn=function(){
		   num++;
		   $('#pdiv').append('<p>'+num+'、'+$scope.skil+'</p>');
		   }
		$scope.del=function(a){
			
			$scope.person.xm.splice(a,1)
			}	
	      
	   }])
</script>
</html>